body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {

    width: 100%;

    height: 100px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.m_block_table {

    max-height: 700px; 
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    overflow: auto;

    table {
        text-align: center;

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}

.main {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;

    padding: 15px 10px;

    display: flex;
    flex-direction: column;

    .block_dashboar {

        border: solid 1px black;

        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .block_table {

        max-height: 700px;
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;

        overflow: auto;

        table {
            text-align: center;

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        }
    }
}

.footer {

    width: 100%;
    height: 75px;
    border: solid 1px black;
}

// *********************************modal style

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 91; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    max-height: 790px;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .main_block {

        display: flex;
        flex-direction: column;


        .header {
            display: flex;
            justify-content: space-around;
        }

        .content_block {

            height: 100%;

            display: flex;
            padding: 5px;

            .card_info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                width: 400px;
                
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }

            .card_events {

                display: flex;
                flex-direction: column;
                width: 100%;

                max-height: 700px;
                overflow: auto;

                .card_group {

                    .card_group_title {

                        padding-left: 5px;
                    }
                }

                .card {
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    padding: 10px;
                    margin-bottom: 10px;

                    .client_id::before {
                        content: "ID КЛИЕНТА: ";
                    }

                    .client_code::before {
                        content: "КОД КЛИЕНТА: ";
                    }

                    .client_mail::before {
                        content: "ПОЧТА КЛИЕНТА: ";
                    }

                    .invoice_status::before {
                        content: "СТАТУС ЗАКАЗА: ";
                    }

                    .invoice_price::before {
                        content: "СУММА ЗАКАЗА: ";
                    }

                    .invoice_date::before {
                        content: "ДАТА ЗАКАЗА: ";
                    }
                }
            }
        }
    }


      /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        padding: 5px;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
  }
  
