body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.loader_block {
    z-index: 1000;
    height: 100px;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader {
    display: block;
    color: #000;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }

.header {

    width: 100%;

    height: 100px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.m_block_table {

    max-height: 700px; 
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    overflow: auto;

    table {
        text-align: center;

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}

.main {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;

    padding: 15px 10px;

    display: flex;
    flex-direction: column;

    .fa-solid:hover {
        cursor: pointer;
    }

    .block_dashboar {

        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

        padding: 10px;
        margin-bottom: 5px;

        display: flex;
        justify-content: start;
        align-items: center;

        .panel_dashboard {

            .header_title {

            }

            .sites_option {
                              
                padding: 10px;
                border-radius: 15px;
                font-size: 16px;
                font-weight: 700;

                margin-right: 5px;
            }

            .type_option {
                padding: 10px;
                border-radius: 15px;
                font-size: 16px;
                font-weight: 700;

                margin-right: 5px;
            }
        }
    }

    .block_table {

        max-height: 700px;
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;

        overflow: auto;

        table {
            text-align: center;

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        }
    }
}

.footer {

    width: 100%;
    height: 75px;

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

// *********************************modal style

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 91; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    max-height: 790px;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .main_block {

        display: flex;
        flex-direction: column;


        .header {
            display: flex;
            justify-content: space-around;
        }

        .content_block {

            height: 100%;

            display: flex;
            padding: 5px;

            .card_info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                width: 400px;

                margin-right: 10px;
                
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                .client_code {
                    text-align: center;
                }
                .client_mail {
                    text-align: center;
                }

                .client_id {
                    text-align: center;
                }

                .client_code::before {
                    content: "код клиента: ";
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .client_mail::before {
                    content: "почта клиента: ";
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .invoice_sum::before {
                    content: "сумма оплат: ";
                }

                .client_id::before {
                    content: "id клиента: ";
                }
            }

            .card_events {

                display: flex;
                flex-direction: column;
                width: 100%;

                max-height: 700px;
                overflow: auto;

                .card_group {

                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

                    .card_group_title {
                        padding: 5px 5px 0 5px;
                    }
                }

                .card {

                    border-radius: 15px;

                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

                    padding: 10px;
                    margin: 10px;

                    .invoice_status::before {
                        content: "СТАТУС ЗАКАЗА: ";
                    }

                    .invoice_price::before {
                        content: "СУММА ЗАКАЗА: ";
                    }

                    .invoice_date::before {
                        content: "ДАТА ЗАКАЗА: ";
                    }
                }
            }
        }
    }


      /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    /* The Close Button */
    .close {
        color: #3a3a3a;
        float: right;
        font-size: 28px;
        font-weight: bold;
        padding: 5px;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
  }
  
